VITE_SUPABASE_URL=
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_BOOSTY_URL=https://boosty.to/probpera
VITE_PUBLIC_SITE_URL=https://probpera.ru
PUBLIC_SITE_ORIGIN=https://kosyat128.github.io
PUBLIC_SITE_BASE_PATH=/probpera-literary-map
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_SITE_URL=https://probpera.ru
PUBLIC_SITE_DEPLOY_HOOK_URL=
YANDEX_METRIKA_COUNTER_ID=
YANDEX_METRIKA_OAUTH_TOKEN=
